:root {
  --black: #000;
  --white: #fff;
  --grey: #858585;
  --highlight: #00fda0ff;
  --primary: 0, 0, 0;
  --secondary: 255, 255, 255;

  --font-size: 16px;
  --border: 2px;
  --height-md: 50px;
  --header-height: 5rem;
  --footer-height: 5rem;
  --gutter-lg: 50px;
  --bdradius: 4px;

  font-size: var(--font-size);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 255, 255, 255;
    --secondary: 0, 0, 0;
  }
}

:root[data-theme='dark'] {
  --primary: 255, 255, 255;
  --secondary: 0, 0, 0;
}

:root[data-theme='light'] {
  --primary: 0, 0, 0;
  --secondary: 255, 255, 255;
}

.dark\:underline:where([data-mode='dark'], [data-mode='dark'] *) {
  --primary: 255, 255, 255;
  --secondary: 0, 0, 0;
}

html,
body {
  color: rgb(var(--primary));
  background: rgb(var(--secondary));
  font-size: var(--font-size);
  line-height: 1;
}

::selection {
  color: rgb(var(--secondary)) !important;
  background-color: rgb(var(--primary)) !important;
}

::-moz-selection {
  color: rgb(var(--secondary)) !important;
  background-color: rgb(var(--primary)) !important;
}

.break-word {
  word-break: break-word;
}

/*br {*/
/*  display: inline-block !important;*/
/*}*/
